@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  margin: 0 !important;
  font-family: 'Roboto', sans-serif;
}

/*footer*/
.top-link {
  color: #ffffff;
  text-decoration: none;
}
.top-link:hover {
  color: #ffffff;
}

.card div {
  color: #000000;
}
.card-title {
  padding-left: 5vh;
  float: left;
}

.list-group-horizontal ul {
  float: left;
}

.list-group-horizontal ul li {
  padding-left: 5vh;
  color: #ffffff;
  font-size: 3.5vh !important;
}
